@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/knockout-2.0.0.js"></script>
    <script type="text/javascript" src="~/Scripts/Home/index.js"></script>
}

@section Styles {
    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />
}

<div id="dropbox">
    <span>drag files here to upload them</span>
</div>

<span id="uploaded_files"></span>